# Ignore node_modules in both frontend and backend
**/node_modules/

# Ignore dist and build outputs
frontend/dist/
backend/dist/

# Ignore dotenv files
**/.env*
!**/.env.example

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vite & testing
frontend/.vite/
coverage/

# MongoDB
backend/dump/
